$bgcheck: #00d478;

.empty-todo-warning {
  position: relative;
  padding-top: 250px;
  font-size: 25px;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -114px;
    transform: translateX(-50%) rotate(39deg);
    background-image: url('../images/wing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75px;
    height: 79px;
  }
}
.wrapper {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 15px;

  @media (max-width: 414px) {
    margin-top: 15px;
  }
}
.bttn {
  width: 2.3em;
  height: 2.3em;
  border: none;
}
.label__checkbox {
  display: none;
  &:checked + .label__check {
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
  }
}
.label__check {
  width: 2em;
  height: 2em;
}
.label__check,
.bttn {
  display: inline-block;
  border-radius: 50%;
  background: white;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
}
i.icon {
  opacity: 0.2;
  font-size: calc(0.6rem + 1vw);
  color: transparent;
  transition: opacity 0.3s 0.1s ease;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}
.label__check i.icon,
.todo__add-sub-bttn i.icon {
  padding-top: 2px;

  @media (max-width: 1480px) {
    padding-top: 0;
  }
}
.label__checkbox:checked + .label__check .icon,
.bttn:hover .icon {
  opacity: 1;
  transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes check {
  10% {
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
  }
  12% {
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
  }
  50% {
    background: $bgcheck;
    opacity: 0.6;
  }
  100% {
    background: $bgcheck;
    opacity: 1;
  }
}
@keyframes delete {
  10% {
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
  }
  12% {
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
  }
  50% {
    background: rgb(255, 66, 14);
    opacity: 0.6;
  }
  100% {
    background: rgb(255, 66, 14);
    opacity: 1;
  }
}
